import pandas as pd
import json
import tmdbsimple as tmdb
import os, json, time
from tqdm.notebook import tqdm_notebook

In [2]:
!pip install tmdbsimple

Requirement already satisfied: tmdbsimple in c:\users\dhowa\anaconda3\envs\dojo-env\lib\site-packages (2.9.1)
Requirement already satisfied: requests in c:\users\dhowa\anaconda3\envs\dojo-env\lib\site-packages (from tmdbsimple) (2.28.1)
Requirement already satisfied: charset-normalizer<3,>=2 in c:\users\dhowa\anaconda3\envs\dojo-env\lib\site-packages (from requests->tmdbsimple) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\dhowa\anaconda3\envs\dojo-env\lib\site-packages (from requests->tmdbsimple) (3.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\dhowa\anaconda3\envs\dojo-env\lib\site-packages (from requests->tmdbsimple) (1.26.13)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\dhowa\anaconda3\envs\dojo-env\lib\site-packages (from requests->tmdbsimple) (2022.9.24)

In [3]:
def write_json(new_data, filename):
    """Appends a list of records (new_data) to a json file (filename). 
    Adapted from: https://www.geeksforgeeks.org/append-to-json-file-using-python/"""
    with open(filename, 'r+') as f:
            # Load existing file into a dictionary
            file_data = json.load(f)
            # Choose extend or append
            if (type(new_data) == list) & (type(file_data) == list):
                file_data.extend(new_data)
            else:
                file_data.append(new_data)
            # Sets files current position at offset
            f.seek(0)
            # Convert back to json
            json.dump(file_data, f)

In [4]:

def get_movie_with_rating(movie_id):
    
    
    movie = tmdb.Movies(movie_id)
    
    
    movie_info = movie.info()
    releases = movie.releases()
    
    
    for c in releases['countries']:
        
        
        if c['iso_3166_1'] == 'US':
            
            
            movie_info['certification'] = c['certification']
    return movie_info

In [5]:
with open('/Users/dhowa/.secret/tmdb_api.json', 'r') as f:
    login = json.load(f)

# Check login keys
login.keys()

dict_keys(['Client Id', 'Api Key'])

In [6]:
tmdb.API_KEY = login['Api Key']

In [7]:
test = get_movie_with_rating('tt0848228')
test

{'adult': False,
 'backdrop_path': '/9BBTo63ANSmhC4e6r62OJFuK2GL.jpg',
 'belongs_to_collection': {'id': 86311,
  'name': 'The Avengers Collection',
  'poster_path': '/yFSIUVTCvgYrpalUktulvk3Gi5Y.jpg',
  'backdrop_path': '/zuW6fOiusv4X9nnW3paHGfXcSll.jpg'},
 'budget': 220000000,
 'genres': [{'id': 878, 'name': 'Science Fiction'},
  {'id': 28, 'name': 'Action'},
  {'id': 12, 'name': 'Adventure'}],
 'homepage': 'https://www.marvel.com/movies/the-avengers',
 'id': 24428,
 'imdb_id': 'tt0848228',
 'original_language': 'en',
 'original_title': 'The Avengers',
 'overview': 'When an unexpected enemy emerges and threatens global safety and security, Nick Fury, director of the international peacekeeping agency known as S.H.I.E.L.D., finds himself in need of a team to pull the world back from the brink of disaster. Spanning the globe, a daring recruitment effort begins!',
 'popularity': 103.732,
 'poster_path': '/RYMX2wcKCBAr24UyPD7xwmjaTn.jpg',
 'production_companies': [{'id': 420,
   'logo_path': '/hUzeosd33nzE5MCNsZxCGEKTXaQ.png',
   'name': 'Marvel Studios',
   'origin_country': 'US'}],
 'production_countries': [{'iso_3166_1': 'US',
   'name': 'United States of America'}],
 'release_date': '2012-04-25',
 'revenue': 1518815515,
 'runtime': 143,
 'spoken_languages': [{'english_name': 'English',
   'iso_639_1': 'en',
   'name': 'English'},
  {'english_name': 'Hindi', 'iso_639_1': 'hi', 'name': 'हिन्दी'},
  {'english_name': 'Russian', 'iso_639_1': 'ru', 'name': 'Pусский'}],
 'status': 'Released',
 'tagline': 'Some assembly required.',
 'title': 'The Avengers',
 'video': False,
 'vote_average': 7.707,
 'vote_count': 28556,
 'certification': 'PG-13'}

In [8]:
test_ids = ["tt0848228", "tt0115937","tt0848228","tt0332280"]
results = []
errors = []
for movie_id in test_ids:
    try:
        movie_info  = get_movie_with_rating(movie_id)
        results.append(movie_info)
        
    except Exception as e:
        errors.append([movie_id, e])

# Convert to dataframe
pd.DataFrame(results)

,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,certification
0,False,/9BBTo63ANSmhC4e6r62OJFuK2GL.jpg,"{'id': 86311, 'name': 'The Avengers Collection...",220000000,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...",https://www.marvel.com/movies/the-avengers,24428,tt0848228,en,The Avengers,...,1518815515,143,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Some assembly required.,The Avengers,False,7.707,28556,PG-13
1,False,/9BBTo63ANSmhC4e6r62OJFuK2GL.jpg,"{'id': 86311, 'name': 'The Avengers Collection...",220000000,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...",https://www.marvel.com/movies/the-avengers,24428,tt0848228,en,The Avengers,...,1518815515,143,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Some assembly required.,The Avengers,False,7.707,28556,PG-13
2,False,/qom1SZSENdmHFNZBXbtJAU0WTlC.jpg,None,29000000,"[{'id': 10749, 'name': 'Romance'}, {'id': 18, ...",http://www.newline.com/properties/notebookthe....,11036,tt0332280,en,The Notebook,...,115603229,123,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Behind every great love is a great story.,The Notebook,False,7.878,10311,PG-13

In [9]:
print(f'Number of errors: {len(errors)}')
errors

Number of errors: 1

[['tt0115937',
  requests.exceptions.HTTPError('404 Client Error: Not Found for url: https://api.themoviedb.org/3/movie/tt0115937?api_key=b81c5d451813f349b7902acc326b7c4d')]]

In [10]:
folder = 'Data/'
os.makedirs(folder, exist_ok=True)
os.listdir(folder)

['tmdb_api_results2000.json']

In [11]:
basics = pd.read_csv(r'C:\Users\dhowa\Downloads\title_basics_cleaned (1).csv.gz')
basics.info()
basics.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 81579 entries, 0 to 81578
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   tconst          81579 non-null  object
 1   titleType       81579 non-null  object
 2   primaryTitle    81579 non-null  object
 3   originalTitle   81579 non-null  object
 4   isAdult         81579 non-null  int64
 5   startYear       81579 non-null  float64
 6   endYear         0 non-null      float64
 7   runtimeMinutes  81579 non-null  int64
 8   genres          81579 non-null  object
dtypes: float64(2), int64(2), object(5)
memory usage: 5.6+ MB

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,NaN,118,"Comedy,Fantasy,Romance"
1,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El tango del viudo y su espejo deformante,0,2020.0,NaN,70,Drama
2,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018.0,NaN,122,Drama
3,tt0088751,movie,The Naked Monster,The Naked Monster,0,2005.0,NaN,100,"Comedy,Horror,Sci-Fi"
4,tt0096056,movie,Crime and Punishment,Crime and Punishment,0,2002.0,NaN,126,Drama

In [12]:
years_to_get = [2000, 2001]

In [13]:
errors = []

In [14]:
for year in tqdm_notebook(years_to_get, desc='years', position=0):

    # Define json file to store results
    json_file = f'{folder}tmdb_api_results{year}.json'

    # Check if file exists
    file_exists = os.path.isfile(json_file)

    # If file does not exist
    if file_exists == False:
        # Save empty dictionary with 'imdb_id' to new json file
        with open(json_file, 'w') as f:
            json.dump([{'imdb_id':0}], f)

    # Save new year as current dataframe
    df = basics.loc[basics['startYear'] == year].copy()
    # Save movie ids to list
    movie_ids = df['tconst'].copy()

    # Load existing data from json into a dataframe called 'previous_df'
    previous_df = pd.read_json(json_file)

    # Filter out ids that are already in the json file
    movie_ids_to_get = movie_ids[~movie_ids.isin(previous_df['imdb_id'])]

    # Inner loop
    for movie_id in tqdm_notebook(movie_ids_to_get, desc=f'Movies from {year}',
                             position=1, leave=True):
        try:
            # Retrieve data for movie id
            temp = get_movie_with_rating(movie_id)
            # Append/extend results to existing file using a pre-made function
            write_json(temp, json_file)
            # 20ms pause to prevent overwhelming server
            time.sleep(0.02)
        
        except Exception as e:
            errors.append([movie_id, e])

    final_year_df =pd.read_json(json_file)
    final_year_df.to_csv(f'{folder}final_tmdb_data{year}.csv.gz', 
                         compression='gzip', index=False)

years:   0%|          | 0/2 [00:00<?, ?it/s]

Movies from 2000:   0%|          | 0/1440 [00:00<?, ?it/s]

Movies from 2001:   0%|          | 0/1565 [00:00<?, ?it/s]

In [15]:
print(f'[i] Total errors: {len(errors)}')

[i] Total errors: 448

In [16]:
final_year_df.head()

,imdb_id,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,original_language,original_title,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,certification
0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,tt0035423,0.0,/hfeiSfWYujh6MKhtGTXyK3DD4nN.jpg,None,48000000.0,"[{'id': 10749, 'name': 'Romance'}, {'id': 14, ...",,11232.0,en,Kate & Leopold,...,76019048.0,118.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,"If they lived in the same century, they'd be p...",Kate & Leopold,0.0,6.327,1188.0,PG-13
2,tt0114447,0.0,None,None,0.0,"[{'id': 53, 'name': 'Thriller'}, {'id': 28, 'n...",,151007.0,en,The Silent Force,...,0.0,90.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,They left him for dead... They should have fin...,The Silent Force,0.0,5.000,3.0,NaN
3,tt0118589,0.0,/9NZAirJahVilTiDNCHLFcdkwkiy.jpg,None,22000000.0,"[{'id': 18, 'name': 'Drama'}, {'id': 10402, 'n...",,10696.0,en,Glitter,...,5271666.0,104.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,"In music she found her dream, her love, herself.",Glitter,0.0,4.536,124.0,PG-13
4,tt0118652,0.0,/mWxJEFRMvkG4UItYJkRDMgWQ08Y.jpg,None,1000000.0,"[{'id': 27, 'name': 'Horror'}, {'id': 9648, 'n...",,17140.0,en,The Attic Expeditions,...,0.0,100.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,His search for peace of mind... will leave his...,The Attic Expeditions,0.0,5.100,29.0,R